body{
	margin:0px;
}
div{
	height: 220px;
	width: 300px;
	background-color: #8080ff;
	animation-name: divAnimation;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	margin:50px auto;
	/*animation-delay: 4s;*/
	animation-timing-function: ease;
}

@keyframes divAnimation{
	0%{
		width: 0px;
		background-image: url('../images/desert.jpg');
	}
	20%{
		width: 100px;
		height: 200px;
		background-color: blue;
		background-image: url('../images/desert.jpg');
	}
	40%{
		width: 400px;
		background-color: red;
		background-image: url('../images/desert.jpg');
	}
	60%{
		height: 590px;
		background-color: yellow;
		background-image: url('../images/desert.jpg');
	}
	80%{
		width: 800px;
		background-color: pink;
		background-image: url('../images/desert.jpg');
	}
	100%{
		height: 300px;
		background-color: whitesmoke;
	}
}